{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" style="color:black" id="about">
	<div class="container">
	<div class="col-lg-8 col-lg-offset-2 text-center">
		<h2 class="section-heading">What is PacRT DewDrop?</h2>
		<br> <h5 style="text-align:left"><b>PacRT DewDrop</b> is a Secure IoT Appliance that can be used where low latency, high throughput and real-time is required in connected devices business use cases. DewDrop IoT Appliance can be used wherever you have business needs to collect data to send to your server infrastructure/enterprise applications and services. DewDrop is a real-time, secure and scalable platform that provides a simple connection to the cloud at scale. Advanced security features, application and integration services and support, with deployment from cloud to edge.</h5>
		<br> <div class="img-left-description-right">
			<img id="what-is-img" src="/img/what-is.png" alt="" />
		</div>
		<br><br>
<div class="row">
<div class="columns" id="about-list">
<div class="solution-box">
	<h5>
		<img style="width: 25px; margin-left: -10px;" src="/img/feature-details-50.png">
		Security
	</h5>
	<ul>
		<li>PacRT DewDrop has end to end built-in security framework and management features that enable you to securely and seamlessly connect your IoT devices to your Enterprise.</li>
		<li>PacRT DewDrop becomes the secure gateway from your connected IoT devices into your Enterprise. You can focus on developing your business applications and servcies around your products or market.</li>
	</ul>
</div>
<div class="solution-box">
	<h5>
		<img style="width: 25px; margin-left: -10px;" src="/img/feature-details-50.png">
		Scale and Reliability
	</h5>
	<ul>
		<li>PacRT DewDrop is built for scale. It delivers the scale and reliablityly to address your needs to connect to variety of end points, including devices, sensors, mobile, …. ?</li>
		<li>PacRT DewDrop is designed to process massive number of events in near real time from a large number of connected devices.</li>
		<li>High Availabilty is at the core of the DewDrop. High Performance and Fault Tolerant Application Layer</li>
		<li>PacRT DewDrop has self monitoring capabilities to check its health and proactively report issues.</li>
	</ul>
</div>
<div class="solution-box">
	<h5>
		<img style="width: 25px; margin-left: -10px;" src="/img/feature-details-50.png">
		Deployment & Enterprise Integration
	</h5>
	<ul>
		<li>PacRT DewDrop comes in various form factors and deployment options.</li>
		<li>PacRT DewDrop can be deployed in private and public clouds, in your Datacenter or in the edge. It will run in any virtualized environment or software containers. Including Amazon, Azure clouds, .. Docker. You have plethora of options.</li>
		<li>PacRT DewDrop provides you Micro-Services based architecture and integration capabilities to connect any device to any enterprise application</li>
		<li>PacRT DewDrop is built on robust Open Source and Frameworks, using ruggedized open security standards and cross platform run-time environment. </li>
	</ul>
</div>
</div>
</div>
	<div id="deploy-images-hz">
		<img id="img-deploy" src="/img/aws.jpg" alt="Amazon Web Services" />
		<img id="img-deploy" src="/img/public-cloud.png" alt="" />
		<img id="img-deploy" src="/img/raspberry.jpg" alt="" />
		<h4 style="color:black">Deployment options from cloud to edge</h4>
		<h5 style="color:black">Develop and deploy IoT apps with ease</h5>
	</div>
	<br> <br> <br> <a href="#whydewdrop" class="btn-default">Learn More - why DewDrop?</a>
	<br><br><br><hr>

</div>
</div>
</section>


