{{ "<!-- LANDING -->" | safeHTML }}
<header>
    <div class="header-content">
        <div class="header-content-inner">
		<!-- <h1>{{ with .Site.Params.landing.slogan }}{{ . }}{{ end }}</h1> -->
		<br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>
		<br> <br> <br> 
		<h2>DewDrop<br><br>Secure and Scaleable Appliance for IoT Applications</h2>
            	<h3>Security is at the heart of everyhting we do!</h3>
		<br>
            	<a href="#about" class="btn-default">Find out more</a>
        </div>
    </div>
</header>
