{{ "<!-- ABOUT -->" | safeHTML }}
<section class="bg-primary" id="whydewdrop" style="color:black">
	<div class="container">
		<div class="col-lg-8 col-lg-offset-2 text-center">
			<h2 class="section-heading">Why use PacRT DewDrop?</h2>
		<br>
		<br>
		<p style="text-align:left">With DewDrop you get many features and options to quickly take advantage of including, deployment, extensibility and integrations to address your market needs.</p>
		<div class="row">
		<div class="why-columns">
		<div class="solution-box">
		<br> <br> <br> <br> <img id="why-img" src="/img/corefunctions.png" alt="" />
		</div>
		<div class="solution-box">
				<ul>
<li>DewDrop is designed to carry the data from your connected devices to your enterprise via various integration options in a secured and no loss fashion. It is built using standard reliable security and netwpork protocols.</li>
<li>DewDrop provides you with many deployment options. We have many ready made options to get you started on your production or development.</li>
<li>Using the DewDrop deployment options, you can start developing your solutions in matter of minutes and with a few steps more you can be ready in production.</li>
<li>The built-in monitoring capabilities let's you act on the issues and proactively mitigate and address system related failures to keep your IoT devices uninterrupted service.</li>
<li>Because DewDrop is built on open frameworks and standards, there is no vendor lock-in. You have complete felxibility to use our expertise to help with custom solutions and services or bring your own, you control your business and market outcomes.</li>
<li>The built-in extensibility lends itself to custom solutions. Learn more about our technical expertise we can bring to the table. We can help you build the business solutions you need in your markets and your verticals – health, retail, manufacturing and mobility. Contact us for details.</li>
			</ul>
            </div>
            </div>
		<br>
                <a href="#" class="btn-default">Let's get started!</a>
		<br><br><br><hr>
            </div>
    </div>
</section>
